
<div class="advice">
	<h1>About this website</h1>
	<br />
	<h2>Why made a website ?</h2>
	<p>I always wanted to have my own website to be able to show what I am doing and what I can do. 
		It was really important for me because I like my jobs and I want show it to everyone! 
		But the problem was that I am a mobile developer and not a web developer (even if I have a formation for it). 
		I didn't want to make a website with php/mysql because I really don't like this langage. I was totally blocked.
		<br />
		<br />
		But then I meet Ruby on Rails.
	</p>

	<h2>A website using Ruby on Rails</h2>
	<p>Why did I decide to use this framework ? Because it's the most powerful web development framework.
		<br />
		It is based on Ruby an object oriented language using the pattern MVC (Model View Controller) to which I am accustomed to using.
		<br />
		Ruby on Rails is also really flexible (you can add a new functionality with less than 10 lines and without breaking anything)
	</p>
	<p>I had lot of fun to make this website and I saw how much css3 is powerful! One thing really fun about website is the "hover" property.
		This property allows to change the design of an object when the mouse passes over. Thanks to this, you can make the user experience even easier.
		Because my goal as developer (after create a functionality) is to be able to explain what the functionality will do before using it. 
		<br />
		With smartphone you don't have any mouse, so I have to make more effort to make an user experience ease of use. 
	</p>
</div>