
<div class="advice">
	<h1>About Me</h1>
	<p>
		Hey everyone! I am Nicolas and I am 24. I have one and half year of experience in iOS development and progamming is my life! There is many point which make 
		programming the best job ever! First, I will learn something every day in all your life. Indeed, new languages 
		or new development methods appear every days and I have to be able to use them. Second, programming is like a game: I have always a challenge 
		to accomplish and when I sucess it, I always feel victorious. Finally, there is a huge community which share or discuss about every new trends.
	</p>
	<h2>Why iOS development ?</h2>
	<p>Because it's a mobile development. That mean there is a huge part of ergonomy in the development. 
		Indeed, the application has to be easy to use for any kind of user: from the person who is afraid to try a new functionality to the 
		person who click everywhere to find a bug. The goal of a mobile developer is to make them both happy ! And it's the funiest part during
		the development. Moreover the application's design is also really important because there always many applications which have 
		a similar functionality. A good design will give you more chance to be downloaded insteed of an other. 
	</p>
	<h2>Job</h2>
	<p>
		You want make an application and you want discuss about it with me? Feel free to send me a mail at bonnet.nicolas.13@gmail.com. Find 
		below my Curriculum Vitae.
	</p>
	<%= image_tag("CV_low_quality.png", class: "CV_image") %>
</div>

<form class="back-button"><input type="button" value="Back" onClick="history.go(-1);return true;"></form>