
<div class="advice">
	<h1>About this website</h1>
	<br />
	<h2>Why make a website ?</h2>
	<p>I always wanted to have my own website to be able to show what I am doing and what I can do. 
		It was really important to me because I like my jobs and I want show it to everyone! 
		However the problem is I am a mobile developer and not a web developer (even if I have a formation for it). 
		I didn't want to make a website with php/mysql because these language are, in my opinion, obsoletes and too complex 
		for what I intend to do in the future. I was completely stuck.
		<br />
		<br />
		But recently I met Ruby on Rails.
	</p>

	<h2>A website using Ruby on Rails</h2>
	<p>Why did I decide to use this framework ? Because it's the most powerful web development framework.
		<br />
		It is based on Ruby an object oriented language using the pattern MVC (Model View Controller) to which I am accustomed to using. And thanks to 
		this, you can use the same RoR engine for web page or for iOS or android view. It's a huge step to be able to develop all kind of mobile application. 
		<br />
		Ruby on Rails is also really flexible (you can add a new functionality with less than 10 lines and without breaking anything)
	</p>
	<p>I had lot of fun to make this website and I saw how much CSS 3 is powerful! One really funny thing about website is the "hover" property.
		This property allows to change the design of an object when the mouse passes over. Thanks to this, you can make the user experience even easier.
		Indeed, my goal as developer (after create a functionality) is to be able to explain what the functionality does before its utilisation. 
		<br />
		With smartphone you don't have any mouse, so I have to make more effort to make an user experience ease of use. 
	</p>
</div>

<form class="back-button"><input type="button" value="Back" onClick="history.go(-1);return true;"></form>