
<div class="advice">
	<h1>About Me</h1>
	<p>
		Hey everyone! I am Nicolas and I am 24. I have one and a half year of experience in iOS development and programming is my life! 
		There are many points which make developer the best job ever! Firstly, I am learning something every day. Indeed, new languages 
		and new development methods appear every day and I have to be able to use them. Secondly, development is like a game: It is always 
		a challenge to accomplish and when I success it, I am feeling victorious. Finally, there is a huge community which share or discuss 
		about every new trends.
	</p>
	<h2>Why iOS development ?</h2>
	<p>
		Because it's a mobile development. That mean there is a huge part of ergonomy(pas sur de l’anglais de ce mot) in the user interface. 
		Indeed, the application has to be easy to use for any kind of user: from the person who is afraid to try a new functionalities to the 
		person who click everywhere to find a bug. The aim for a mobile developer is to make both of them happy ! And it's the funniest part during 
		the development. Moreover the application's design is also really important as there are many applications which have a similar 
		functionality. A good design will give you more chances to be downloaded instead of an other.
	</p>
	<h2>Job</h2>
	<p>
		You want make an application and you want discuss about it with me? Feel free to send me an email at bonnet.nicolas.13@gmail.com. 
		Find below my Curriculum Vitae. 
	</p>
	<%= image_tag("CV_low_quality.png", class: "CV_image") %>
	</br>
	<%= link_to "Download CV", download_cv_path, target: '_blank' %>
	</br>
	<%= link_to "Download High Quality CV", download_cv_path, target: '_blank' %>
</div>

<form class="back-button"><input type="button" value="Back" onClick="history.go(-1);return true;"></form>