<% @user = User.find(comment.user_id) %>
<div class="comment">
	<div class="image-bubble"> 
		<%= image_tag @user.avatar.url(:medium) %>
	</div>
	<div class="comment-bubble bubble-float-left" >
		<div class="text" ><%= comment.comment %></div>
		</br>
		<div class="date"><%= comment.created_at.to_s(:short) %></div>
	</div>
</div>