/* line 2, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions, div.input {
  margin-bottom: 10px;
  width: 100%;
  display: table;
}

/* line 9, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
form label {
  display: table-cell;
  width: 100px;
  vertical-align: middle;
}

/* line 15, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
input {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

/* line 21, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
textarea {
  width: 100%;
  height: 100px;
}

/* line 26, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: #04B45F;
}

/* line 30, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 4px;
  background-color: #f28686;
  display: inherit;
  color: white;
  width: inherit;
}

/* line 38, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
input[type="submit"] {
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-right: calc(50% - 75px);
}

/* line 44, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 4px solid #f28686;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  width: 100%;
}
/* line 53, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-family: sans-serif;
  padding: 5px 5px 5px 15px;
  font-size: 15px;
  margin: -10px;
  margin-bottom: 10px;
  background-color: #f28686;
  color: #fff;
}
/* line 63, /Users/bonnetnicolas/Documents/Aptana Studio 3 Workspace/myBlog/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 14px;
  list-style: square;
}
