<h1>New post</h1>

  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
  
<%= render 'form' %>

<br
 />
<div class="back-button"><%= link_to 'Back', posts_path %></div>
