
.advice {
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #7c705e;
    background-color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.cropit-image-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border-radius: 50%;
  margin-top: 7px;
  width: 80px;
  height: 80px;
  cursor: move;
}

.cropit-image-background {
  opacity: .2;
  cursor: auto;
}

.image-size-label {
  margin-top: 0.6rem;
}
    