// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry-thumbnail {
  background: white;
  max-height: 440px;
  width: 100%;
  border: 1px solid #e4e1dc;
  border-radius: 2px;
}

.hentry-wrapper article{
  z-index: 100;
}

.entry-thumbnail a {
  vertical-align: middle;
}

.back-button a{
  
  background: url('back_button.png') no-repeat;
  background-position-y: 9px;
  background-position-x: 12px;
  color: #9b8d76;
  background-color: #efedea;
  border: 2px solid #9b8d76;
  padding: 15px 30px 15px 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
}

.back-button a:hover {
  background: url('back_button_hover.png') no-repeat;
  background-position-y: 9px;
  background-position-x: 12px;
  border-radius: 15px;
  color: #c2beb7;
}

// .back-button a:before {
//   
  // -webkit-transition: all 0.3s ease-in-out;
  // -moz-transition: all 0.3s ease-in-out;
  // -o-transition: all 0.3s ease-in-out;
  // transition: all 0.3s ease-in-out;
  // content: url('back_button.png');
  // width: 30px;
  // height: 30px;
  // position: relative;
  // top: 9px;
  // right: 12px;
// }
// 
// .back-button a:hover:before {
  // content: url('back_button_hover.png');
  // width: 30px;
  // height: 30px;
  // position: relative;
  // top: 9px;
  // right: 12px;
// }

.entry-thumbnail img {
  max-width: 100%;
  max-height: 100%;
}

#owl-demo .item{
    max-width: 100%;
    height: 100%;
    display: block;
    vertical-align: middle;
}

.comment_container textarea {
    width: 100%;  
    height: 80px;
    margin-top: 10px;
}

.comment_container input[type="submit"] {
  text-align: center;
  width: 200px;
  margin-left: calc(50% - 100px);
  margin-right: calc(50% - 100px);
  margin-top: -20px;
}

.comment-bubble {
    display: table-cell; 
  margin: .4em;
  padding: 1em;
  width: 100%;
  font-size: 14px;
  background: #e1e1e1;
  text-decoration: none;
  color: #666666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.comment-bubble .date{
  bottom:-10px;
  right: 10px;
  width: 100%;
  text-align: right;
  position: relative;
  font-size: 12px;
}

.comment-bubble .text{
  left:9px;
  position: relative;
}

.comment {
    display:table;
    width: 100%;
}

.comment .image-bubble {
    display: table-cell; 
  height: 70px;
  width: 80px;
  padding-right: 10px;
}

.comment img {
  border-radius: 50%;
  position: relative;
  bottom: -15px;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
}

/* Bubble Float Left */
.bubble-float-left {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bubble-float-left:before {
  position: absolute;
  z-index: -1;
  content: '';
  bottom: calc(30px);
  left: 0;
  border-style: solid;
  border-width: 15px 25px 15px 0;
  border-color: transparent #e1e1e1 transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: left;
  transition-property: left;
}
.bubble-float-left:hover, .bubble-float-left:focus, .bubble-float-left:active {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.bubble-float-left:hover:before, .bubble-float-left:focus:before, .bubble-float-left:active:before {
  left: -20px;
}
