// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry-thumbnail {
  background: white;
  max-height: 440px;
  width: 100%;
  border: 1px solid #e4e1dc;
  border-radius: 2px;
}

#image_container {
  display:none;
}

.hentry-wrapper article{
  z-index: 100;
}

.entry-thumbnail a {
  vertical-align: middle;
}

.back-button a{
  
  background: url('back_button.png') no-repeat;
  background-position-y: 9px;
  background-position-x: 12px;
  color: #9b8d76;
  background-color: #efedea;
  border: 2px solid #9b8d76;
  padding: 15px 30px 15px 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
}

.back-button a:hover {
  background: url('back_button_hover.png') no-repeat;
  background-position-y: 9px;
  background-position-x: 12px;
  border-radius: 15px;
  color: #c2beb7;
}

.back-button a:active {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// .back-button a:before {
//   
  // -webkit-transition: all 0.3s ease-in-out;
  // -moz-transition: all 0.3s ease-in-out;
  // -o-transition: all 0.3s ease-in-out;
  // transition: all 0.3s ease-in-out;
  // content: url('back_button.png');
  // width: 30px;
  // height: 30px;
  // position: relative;
  // top: 9px;
  // right: 12px;
// }
// 
// .back-button a:hover:before {
  // content: url('back_button_hover.png');
  // width: 30px;
  // height: 30px;
  // position: relative;
  // top: 9px;
  // right: 12px;
// }

.entry-thumbnail img {
  max-width: 100%;
  max-height: 100%;
}

#owl-demo .item{
    max-width: 100%;
    height: 100%;
    display: block;
    vertical-align: middle;
}

.comment_container textarea {
    width: 100%;  
    height: 80px;
    margin-top: 10px;
}

.comment_container input[type="submit"] {
  text-align: center;
  width: 200px;
  margin-left: calc(50% - 100px);
  margin-right: calc(50% - 100px);
  margin-top: -20px;
}

.comment-bubble {
  display: table-cell; 
  margin: .4em;
  padding: 1em;
  width: 100%;
  font-size: 14px;
  background: #e1e1e1;
  text-decoration: none;
  color: #666666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.comment-bubble .date{
  bottom:-10px;
  margin-top: -10px;
  right: 10px;
  width: 100%;
  text-align: right;
  position: relative;
  font-size: 12px;
}

.comment-bubble .text{
  left:9px;
  position: relative;
  font-size: 16px;
}

.comment-bubble .name{
  left:9px;
  position: relative;
  font-size: 14px;
  color: #808080;
  font-weight: bold;
}


.comment {
    display:table;
    width: 100%;
}

.comments-link a{
  cursor: pointer;
}

.comments-delete a:before {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: "Genericons";
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  content: "\f407";
}

.comments-delete a {
  top: -2px;
  position: relative;
  color: #808080;
  width: 100%;
  height: 100%;
}

.comments-delete a:hover {
  color: #c2beb7;
}

.comments-delete {
  position: absolute;
  z-index:10;
  right: 10px;
  visibility: hidden;
}

.comment .image-bubble {
  display: table-cell; 
  height: 100%;
  width: 70px;
  padding-right: 10px;
  position: relative;
  bottom: 0px;
}

.comment img {
  border-radius: 50%;
  position: relative;
  bottom: -15px;
  min-width: 60px;
  min-height: 60px;
  z-index: 2;
}

/* Bubble Float Left */
.bubble-float-left {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bubble-float-left:before {
  position: absolute;
  z-index: -1;
  content: '';
  bottom: calc(25px);
  left: 0;
  border-style: solid;
  border-width: 15px 25px 15px 0;
  border-color: transparent #e1e1e1 transparent transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: left;
  transition-property: left;
}
.bubble-float-left:hover, .bubble-float-left:focus, .bubble-float-left:active {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  
  .comments-delete {
    visibility: visible;
  }
}
.bubble-float-left:hover:before, .bubble-float-left:focus:before, .bubble-float-left:active:before {
  left: -20px;
}


// like / unlike


.like:hover:before{
  color: #d181bb; // pink
}
.unlike:hover:before{
  color: #518dc5;
}

.like{
  content : "";
}
.unlike{
  content : "";
}

.like:before{
  position: relative;
  top: 10px;
  color: #ada393;
  content : "\f461";
  -webkit-font-smoothing: antialiased;
  font-family: "Genericons";
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
}
.unlike:before{
  position: relative;
  top: 10px;
  color: #d181bb;
  content : "\f461";
  -webkit-font-smoothing: antialiased;
  font-family: "Genericons";
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
}

.like.Comment:before  {
  top: 7px;
  font-size: 24px;
  color: #808080;
}

.like.Comment:hover:before  {
  top: 7px;
  font-size: 24px;
  color: #d181bb;
}

.unlike.Comment:before{
  top: 7px;
  font-size: 24px;
}

.like_form.Comment {
  margin-top:-20px;
}
