div {
  &.field, &.actions, &.input {
    margin-bottom: 10px;
    width: 100%;
    display:table;
  }
}

form label {
    display: table-cell; 
    width: 100px;
    vertical-align: middle;
}

input {
    display: table-cell;
    width: 100%;
    vertical-align:middle;
}

textarea {
    width: 100%;  
    height: 100px;
}

.flash-notice {
  background-color: #63c389;
  color: white;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.field_with_errors {
  padding: 4px;
  background-color: #f28686;
  display: inherit;
  color: white;
  width: inherit;
}

input[type="submit"]{
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-right: calc(50% - 75px);
}

#error_explanation {
  width: 450px;
  border: 4px solid #f28686;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  width: 100%;
  
  h2 {
    text-align: left;
    font-family: sans-serif;
    padding: 5px 5px 5px 15px;
    font-size: 15px;
    margin: -10px;
    margin-bottom: 10px;
    background-color: #f28686;
    color: #fff;
  }
  ul li {
    font-size: 14px;
    list-style: square;
  }
}
